*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
}

#nav_bar {
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 60px;
}
#menu_bar {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

#menu_bar a{
    text-decoration: none;
    font-size: 16px ;
    color: #575757;
   
    

}

#btn_reg{
    padding: 15px 35px;
    background: #0030ce;
    color: #ffffff;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}



/* hero section  */

#hero{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url(./assets/banner.jpg);
    background-size:cover;
    background-position: center;
    height: 90vh;
    background-repeat: no-repeat;
    
}

#drived_text{
    text-align: center;
    padding: 160px;
    

}

#hero_text{
    padding-bottom: 20px;
    color: #ffff;
    font-size: 30px;
}
#hero_desc{
    padding-bottom: 20px;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
}

.btnReg{
    margin-top: 400px;   
}

/* speakers meet css */
.card{
    width: 100%;
    max-width: 1200px;
    margin: 0 270px;
    
}
.cardVari{
    max-width: auto;
   
}
.headerText{
    text-align: center;
    margin-left: 120px;
    margin-bottom: 50px;
    font-size: x-large;
    padding-top: 20px;
}
.allCard{
    display: grid;
    gap: 30px;
    
    grid-template-areas: 
    "one two"
    "three four";
    
    
    
}
.card_1{
    grid-area: one;
}

.card_2{
    grid-area: two;
}
.card_3{
    grid-area: three;
}
.card_4{
    grid-area: four;
}

.card_css{
    border: 1px solid #efefef;
    border-radius: 20px;
}
.text_area{
    padding: 10px;
}
.text_area > span{
    font-size: x-small;
    color: #0030ce;
}

.text_area , span, h3, p{
    padding-top: 5px;
}
.text_area, p{
    padding-bottom: 10px;
}

.image, img{
    object-fit: cover;
    border-top-left-radius:  20px;
    border-top-right-radius:  20px;
}
.text_area> h3{
    font-size: 16px;
}
.text_area> p{
    font-size: 10px;
}

/* footer start */

.bodyColor{
    background: #0D1B2A;
}
.fBody{
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    padding-bottom: 0;
    align-items: center;
}

.logo{
    color: white;
}
.privacy_service{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    color: #efefef;
    font-size: 12px;
}
/* footer right */

.social-icons {
    font-size: x-large;
    
}
.social-icons > a{
    text-decoration: none;
    
}
hr{
    color: #ffffff;
    padding: 0 40px;
    
}
.copyRight{
    text-align: center;
    padding: 30px;
    color: #efefef;
    font-size: 10px;
}

.textColor{
    color: white;
    font-size: 17px;
}
/* secure your spot start */
.secureSport{
    text-align: center;
    padding-top: 30px;
}
.secureSport > h3{
font-size: xx-large;
color: #0D1B2A;
}
.secureSport > p{
    font-size: 18px;
    color: #575757;
}

.spot1{
    width: 370.66px;
    height: 444px;
    border: 2px solid hwb(0 34% 66% / 0.116) ;
    border-radius: 20px;
    padding: 30px;
}
.StandardText > span{
    color: #888888;
    font-size: 13px;
}

.StandardText > h4{
    color: #0D1B2A;
    font-size: 44px;
}

.StandardText > p{
    color: #888888;
    font-size: 13px;
}
.ulText > li{
    margin-left: 22px;
}

.ulText > li::marker{
    font-size: 18px;
    color: blue;
    line-height: 3.9;
    text-align: center;
}
.allSpotPrice{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 80px;
    padding-bottom: 140px;
}

.bg0D1B2A{
    background: #0D1B2A;
}

.ulpro{
    color: #FFFFFF;
}
.ulpro > h4{
    color: #FFFFFF;
}
.ulpro > span{
    color: #FFFFFF;
}
.btn_reg1{
    margin-top: 20px;
    padding: 15px 140px;
    background: #ffffff;
    color: #2563EB;
    border: 2px solid #2563EB;
    border-radius: 10px;
    cursor: pointer;
    font-family: initial ;
    font-weight:700;
}
.btn_reg{
    margin-top: 20px;
    padding: 15px 160px;
    background: #0030ce;
    color: #ffffff;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    font-size: 14px;
    font-family: initial ;
    font-weight:700;
}

.btn_reg3{
    margin-top: 20px;
    padding: 15px 140px;
    background: #ffffff;
    color: #0D1B2A;
    border: 2px solid #0D1B2A;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-family: initial ;
    font-weight:700;
}

/* PLACEHOLDER SECTION — AI CHALLENGE */

.confarance> img{
    max-width: 750px;
    height: 600px;
     object-fit: cover;
    
}
.placeholder{
    display: flex;
    padding: 80px 160px;
    gap: 40px;
}
.textPlaceholder{
    text-align: center;
    padding-top: 180px;
    font-size: large;
    font-weight: 800;
}
